.message{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    padding: 10px 0px;
    margin-bottom: 10px;
    position: relative;
}
.error{
    background-color: #ff6562;
}
.message-close{
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
}